<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>{{ meta_title|default('Admin') }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output='css/compiled/ilmb_a.css'
                'bundles/infolaveragemetronic/core/plugins/font-awesome/css/font-awesome.css'
                'bundles/infolaveragemetronic/core/plugins/bootstrap/css/bootstrap.css'
                'bundles/infolaveragemetronic/core/plugins/uniform/css/uniform.default.css'
                'bundles/infolaveragemetronic/core/css/toastr.min.css'
                'bundles/infolaveragemetronic/core/css/components.css'
                'bundles/infolaveragemetronic/core/css/plugins.css'
                'bundles/infolaveragemetronic/core/css/layout.css'
                'bundles/infolaveragemetronic/core/css/default.css'
                'bundles/infolaveragemetronic/core/css/custom.css'
                'bundles/infolaveragemetronic/lib/hint.css'
                'bundles/infolaveragemetronic/css/custom.css'
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% block additional_stylesheets %}{% endblock %}
        {% endblock stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        {% block favicon %}
            <link rel="shortcut icon" href="{{ asset('bundles/infolaveragemetronic/core/images/favicon.ico') }}"/>
        {% endblock favicon %}
    </head>
    <body class="{% block body_class %}{{ additional_body_class|default(null) }} page-header-fixed page-quick-sidebar-over-content{% endblock body_class %}">
        {% block body %}
            {% block page_header %}
                {% include 'InfoLaverageMetronicBundle:partials:header.html.twig' %}
            {% endblock page_header %}
            <div class="page-container">
                {% block page_sidebar %}
                    {% include 'InfoLaverageMetronicBundle:partials:sidebar.html.twig' %}
                {% endblock page_sidebar %}
                {% block content %}
                    {% include 'InfoLaverageMetronicBundle:partials:content.html.twig' %}
                {% endblock content %}
            </div>
            {% block page_footer %}
                {% include 'InfoLaverageMetronicBundle:partials:footer.html.twig' %}
            {% endblock page_footer %}
        {% endblock body %}
        {% block javascripts %}
            <!--[if lt IE 9]>
            {% javascripts output='js/compiled/ilmb_iefix.js'
                'bundles/infolaveragemetronic/core/plugins/respond.min.js'
                'bundles/infolaveragemetronic/core/plugins/excanvas.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <![endif]-->
            {% javascripts output='js/compiled/ilmb_a.js'
                'bundles/infolaveragemetronic/core/plugins/jquery-1.11.0.min.js'
                'bundles/infolaveragemetronic/core/plugins/jquery-migrate-1.2.1.min.js'
                'bundles/infolaveragemetronic/core/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
                'bundles/infolaveragemetronic/core/plugins/bootstrap/js/bootstrap.js'
                'bundles/infolaveragemetronic/core/plugins/uniform/jquery.uniform.js'
                'bundles/infolaveragemetronic/core/plugins/moment.min.js'
                'bundles/infolaveragemetronic/core/js/metronic.js'
                'bundles/infolaveragemetronic/core/js/layout.js'
                'bundles/infolaveragemetronic/js/confirm.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset('bundles/infolaveragemetronic/core/js/toastr.min.js') }}"></script>
            {# @todo (csanyig) nem itt van a helye #}
            <script>
                $(function()
                {
                    Metronic.init(); // init metronic core componets
                    Layout.init(); // init layout
                });

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "showDuration": "1000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };

                {% for flashMessage in app.session.flashbag.get('notice') %}
                    toastr.info('{{ flashMessage }}');
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    toastr.success('{{ flashMessage }}');
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('warning') %}
                    toastr.warning('{{ flashMessage }}');
                {% endfor %}
            </script>
            {% block additional_javascripts %}{% endblock %}
        {% endblock javascripts %}
    </body>
</html>
