<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>{{ meta_title|default('Admin') }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' output='css/main.css'
                "bundles/infolaveragemetronic/core/css/font-awesome.min.css"
                "bundles/infolaveragemetronic/core/css/simple-line-icons.min.css"
                "bundles/infolaveragemetronic/core/css/bootstrap.min.css"
                "bundles/infolaveragemetronic/core/css/uniform.default.min.css"
                "bundles/infolaveragemetronic/core/css/bootstrap-switch.min.css"
                "bundles/infolaveragemetronic/core/css/toastr.min.css"
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% block page_level_plugin_styles %}{% endblock %}
            {% stylesheets filter='cssrewrite' output='css/main.css'
                "bundles/infolaveragemetronic/core/css/components.css"
                "bundles/infolaveragemetronic/core/css/plugins.css"
                "bundles/infolaveragemetronic/core/css/layout.css"
                "bundles/infolaveragemetronic/core/css/light.css"
                "bundles/infolaveragemetronic/core/css/custom.css"
            %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{{ asset('bundles/infolaveragemetronic/core/images/favicon.ico') }}"/>
    </head>
    <body class="{% block body_class %}page-header-fixed page-quick-sidebar-over-content {{ additional_body_class|default(null) }}{% endblock body_class %}">
        {% block body %}
            {% include "InfoLaverageMetronicBundle:partials:header.html.twig" %}
            <div class="page-container">
                {% include "InfoLaverageMetronicBundle:partials:sidebar.html.twig" %}
                {% include "InfoLaverageMetronicBundle:partials:content.html.twig" %}
            </div>
            {% include "InfoLaverageMetronicBundle:partials:footer.html.twig" %}
        {% endblock body %}
        {% block javascripts %}
            {% block core_plugins %}
                <!--[if lt IE 9]>
                {% javascripts output='js/main.js'
                    'bundles/infolaveragemetronic/core/js/respond.min.js'
                    'bundles/infolaveragemetronic/core/js/excanvas.min.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                <![endif]-->
                {% javascripts output='js/main.js'
                    'bundles/infolaveragemetronic/core/js/jquery-1.11.0.min.js'
                    'bundles/infolaveragemetronic/core/js/jquery-migrate-1.2.1.min.js'
                    'bundles/infolaveragemetronic/core/js/jquery-ui-1.10.3.custom.min.js'
                    'bundles/infolaveragemetronic/core/js/bootstrap.min.js'
                    'bundles/infolaveragemetronic/core/js/bootstrap-hover-dropdown.min.js'
                    'bundles/infolaveragemetronic/core/js/jquery.slimscroll.min.js'
                    'bundles/infolaveragemetronic/core/js/jquery.blockui.min.js'
                    'bundles/infolaveragemetronic/core/js/jquery.cokie.min.js'
                    'bundles/infolaveragemetronic/core/js/jquery.uniform.min.js'
                    'bundles/infolaveragemetronic/core/js/bootstrap-switch.min.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
            {% block page_level_plugin_scripts %}{% endblock %}
            {% block page_level_scripts %}
                {% javascripts output='js/main.js'
                    'bundles/infolaveragemetronic/core/js/metronic.js'
                    'bundles/infolaveragemetronic/core/js/layout.js'
                    'bundles/infolaveragemetronic/core/js/quick-sidebar.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
            {% block javascript_initialize %}
                <script>
                    jQuery(document).ready(function() {
                        Metronic.init(); // init metronic core componets
                        Layout.init(); // init layout
                        QuickSidebar.init(); // init quick sidebar
                    });
                </script>
            {% endblock javascript_initialize %}
        {% endblock javascripts %}
    </body>
</html>
