{% extends "form_div_layout.html.twig" %}

{% block form -%}
    {% set form_actions = form.actions|default(false) ? form_widget(form.actions) : false %}
    {{ form_start(form) }}
        <div class="form-body">
            {{ form_widget(form) }}
        </div>
        {% if form_actions %}
            {{ form_actions|raw }}
        {% endif %}
    {{ form_end(form) }}
{%- endblock form %}

{% block form_start -%}
    {% if not attr.class|default(false) %}
        {% set attr = attr|merge({'class': 'form-horizontal'}) %}
    {% endif %}
    {{ parent() }}
{%- endblock form_start %}

{% block form_row -%}
    {% set error_class = form.vars.errors|length ? 'has-error' : null %}
    <div class="form-group {{ error_class }}">
        {{ form_label(form) }}
        <div class="col-md-8">
            {{ form_widget(form) }}
            <span class="help-block">
                {{ form_errors(form) }}
            </span>
        </div>
    </div>
{%- endblock form_row %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor -%}
        {% if 'class' not in label_attr|keys %} class="col-md-4 control-label" {% endif -%}
        >{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul class="list-unstyled">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}

{% block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- if 'class' not in attr|keys %}class="form-control" {%- endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes %}

{% block button_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>
{%- endblock button_widget %}

{% block choice_widget -%}
    {% if expanded %}
        <div class="checkbox-list">
            {%- for child in form %}
                {{- form_widget(child) -}}
            {% endfor -%}
        </div>
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget %}

{% block checkbox_widget %}
    <label for="{{ id }}">
        <input
            type="checkbox"
            {{ block('widget_attributes') }}
            {% if value is defined %} value="{{ value }}"{% endif %}
            {% if checked %} checked="checked"{% endif %}
        />
        {{ label|trans }}
    </label>
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        <label  for="{{ id }}">
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ label|trans }}
        </label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block role_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock role_widget %}

{% block il_metronic_form_actions_type_widget %}
    {% spaceless %}
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-4 col-md-8 buttons-container">
                    {% for button in form %}
                        {{ form_widget(button) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock il_metronic_form_actions_type_widget %}

{% block il_metronic_button_link_type_widget %}
    <a href="{{ form.vars.url }}" {{ block('button_attributes') }}>{{ label|default(name)|trans({}, translation_domain)|raw }}</a>
{% endblock il_metronic_button_link_type_widget %}
